/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

Button {
	-fx-text-fill: black;
	-fx-font-family: "Arial Narrow";
	-fx-font-weight: bold;
	-fx-background-color: goldenrod;
	-fx-effect: dropshadow( three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1 );
	-fx-padding: 5 22 5 22;
	-fx-font-size: 11px;
}

Button:hover {
	-fx-background-color: whitesmoke;
}